<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alpaca.Markets" version="7.2.0" targetFramework="net48" />
  <package id="Alpaca.Markets.Extensions" version="7.2.0" targetFramework="net48" />
  <package id="CsvHelper" version="33.1.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.27.1" targetFramework="net48" />
  <package id="LightGBM" version="3.3.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Memory" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Numerics" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Http" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Http.Polly" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.ML" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.CpuMath" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.DataView" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.FastTree" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.LightGbm" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.Mkl.Redist" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.TimeSeries" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.Tokenizers" version="1.0.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Polly" version="8.5.0" targetFramework="net48" />
  <package id="Polly.Core" version="8.5.0" targetFramework="net48" />
  <package id="Polly.Extensions.Http" version="3.0.0" targetFramework="net48" />
  <package id="Portable.System.DateTimeOnly" version="9.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.CodeDom" version="8.0.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.8" targetFramework="net48" />
  <package id="System.Linq.Async" version="6.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Net.Http.WinHttpHandler" version="9.0.0" targetFramework="net48" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="net48" />
  <package id="System.Numerics.Tensors" version="8.0.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.8" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.8" targetFramework="net48" />
  <package id="System.Threading.Channels" version="9.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>